<br/>
<h1><?php __('Olá')?> <?php echo $nome; ?>,</h1>
<p><span style="font-family: Arial, helvetica, sans-serif !important; color:#6f7073 !important; text-decoration:none !important; font-size:22px;"><?php echo $body; ?></span></p>