<?php
if (PRODUCTION) {
	$merchantID = 'braspag_institutoayrtonsenna';
	$orgID      = 'k8vif92e';
	$url        = 'h.online-metrix.net';
} else {
	// $merchantID = 'E7931DD2-F9B8-E411-93FC-005056932B77';
	$merchantID = 'braspag_institutoayrtonsenna';
	$orgID      = '1snn5n9w';
	// $sessionID  = '123';
	$url        = 'h.online-metrix.net';
}
?>
<p style="background:url(https://<?php echo $url ?>/fp/clear.png?org_id=<?php echo $orgID ?>&amp;session_id=<?php echo $merchantID . $sessionID ?>&amp;m=1)"></p>
<img src="https://<?php echo $url ?>/fp/clear.png?org_id=<?php echo $orgID ?>&amp;session_id=<?php echo $merchantID. $sessionID ?>&amp;m=2" alt="">

<object type="application/x-shockwave-flash" data="https://<?php echo $url ?>/fp/fp.swf?org_id=<?php echo $orgID ?>&amp;session_id=<?php echo $merchantID . $sessionID ?>" width="1" height="1" id="thm_fp">
<param name="movie" value="https://<?php echo $url ?>/fp/fp.swf?org_id=<?php echo $orgID ?>&amp;session_id=<?php echo $merchantID . $sessionID ?>" />
<div></div>
</object>

<script src="https://<?php echo $url ?>/fp/check.js?org_id=<?php echo $orgID ?>&amp;session_id=<?php echo $merchantID . $sessionID ?>" type="text/javascript">
</script>