<!-- <option value="">-- Escolha a Cidade --</option> -->
<?php foreach ($cidades as $c): ?>
	<option value="<?php echo $c['Cidade']['id'] ?>"><?php echo ucwords( strtolower($c['Cidade']['nome']) ) ?></option>
<?php endforeach; ?>