@media #{$small-up} {
	table.dataTable.dtr-inline.collapsed tbody td:first-child,
	table.dataTable.dtr-inline.collapsed tbody th:first-child {
		position: relative;
		padding-left: 30px;
		cursor: pointer;
	}
	table.dataTable.dtr-inline.collapsed tbody td:first-child:before,
	table.dataTable.dtr-inline.collapsed tbody th:first-child:before {
		top: 8px;
		left: 4px;
		height: 16px;
		width: 16px;
		display: block;
		position: absolute;
		color: white;
		border: 2px solid white;
		border-radius: 16px;
		text-align: center;
		line-height: 14px;
		box-shadow: 0 0 3px #444;
		box-sizing: content-box;
		content: '+';
		background-color: #31b131;
	}
	table.dataTable.dtr-inline.collapsed tbody td:first-child.dataTables_empty:before,
	table.dataTable.dtr-inline.collapsed tbody th:first-child.dataTables_empty:before {
		display: none;
	}
	table.dataTable.dtr-inline.collapsed tbody tr.parent td:first-child:before,
	table.dataTable.dtr-inline.collapsed tbody tr.parent th:first-child:before {
		content: '-';
		background-color: #d33333;
	}
	table.dataTable.dtr-inline.collapsed tbody tr.child td:before {
		display: none;
	}
	table.dataTable.dtr-column tbody td.control,
	table.dataTable.dtr-column tbody th.control {
		position: relative;
		cursor: pointer;
	}
	table.dataTable.dtr-column tbody td.control:before,
	table.dataTable.dtr-column tbody th.control:before {
		top: 50%;
		left: 50%;
		height: 16px;
		width: 16px;
		margin-top: -10px;
		margin-left: -10px;
		display: block;
		position: absolute;
		color: white;
		border: 2px solid white;
		border-radius: 16px;
		text-align: center;
		line-height: 14px;
		box-shadow: 0 0 3px #444;
		box-sizing: content-box;
		content: '+';
		background-color: #31b131;
	}
	table.dataTable.dtr-column tbody tr.parent td.control:before,
	table.dataTable.dtr-column tbody tr.parent th.control:before {
		content: '-';
		background-color: #d33333;
	}
	table.dataTable tr.child {
		padding: 0.5em 1em;
	}
	table.dataTable tr.child:hover {
		background: transparent !important;
	}
	table.dataTable tr.child ul {
		display: inline-block;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	table.dataTable tr.child ul li {
		border-bottom: 1px solid #efefef;
		padding: 0.5em 0;
		white-space: nowrap;
	}
	table.dataTable tr.child ul li:first-child {
		padding-top: 0;
	}
	table.dataTable tr.child ul li:last-child {
		border-bottom: none;
	}
	table.dataTable tr.child span.dtr-title {
		display: inline-block;
		min-width: 75px;
		font-weight: bold;
	}
}

@media #{$small-only} {
	#instituto-ayrton-senna {
		background-size: 144px 84px;
		width: 144px;
		height: 84px;
		background-position: 50%;
	}

	#header {
		.show-for-small-only {
			a.left-off-canvas-toggle {
				margin: 1rem 0 0;
			}
		}
	}

	#main-box {
		#bem-vindo.row {
			top: 40px;
			.title {
				font-size: 4.6rem;
				letter-spacing: -3px;
			}
		}

		#valor.row {
			top: 50px;
			> p {
				line-height: 1;
				font-size: 1.5rem;
				text-shadow: 1px 1px rgba(0,0,0,.2);
			}

			form {
				.tabs-content {
					.content {
						div.button {
							padding: 1.25rem;
							min-height: 10rem;
							h2 {
								font-size: 1rem;
							}
							p {
								font-size: 3rem;
							}
							small {
								font-size: .85rem;
							}
							&.qualquer-valor {
								h2 {
									line-height: 1;
								}
								p {
									font-size: .75rem;
								}
							}
						}
					}
				}
			}
		}
	}

	section[role="forms"] {
		.donation-steps {
			display: inline-block;
		}

		#cadastro {
			p {
				line-height: 1;
				font-size: 1.25rem;
			}
		}

		form {
			fieldset {
				padding: .25rem;
				label {
					font-size: 1rem;
					line-height: 1;
				}
				#formasPagamento {
					input[name="formaPagamento"] {
						+ label {
							clear: both;
							display: inline;
							font-size: 1.25rem;
							float: none !important;
							i {
								vertical-align: middle;
							}
						}
					}
				}
				article.formaPagamento {
					ul {
						li {
							text-align: center;
							input.flag {
								width: 8.25rem;
								height: 6.25rem;
							}
						}
					}
				}

				label[for="terms"],
				label[for="news"] {
					font-size: 1.25rem;
					line-height: .75rem;
				}
			}
		}
	}

	section[role="agradecimento"] {
		.alert-box {
			p.lead {
				font-size: 1.75rem;
				line-height: 1.25;
			}
		}
	}

	#my-account {
		#personal-data {
			> h1 {
				letter-spacing: -2px;
			}
		}
	}
}

@media #{$medium-only} {
	#main-box {
		min-height: 64rem;
	}
}