/* Generated data URIs used for preview purposes only */
/* Be sure that you replace data URIs with generated images */
/* http://www.retinaspritegenerator.com/#output */

.politica-privacidade {
	display: inline-block;
	width: 76px;
	height: 54px;
	background-image: url(../images/icone-politica-privacidade-ias-doacao.png);
}

[class*="sprite-"] {
	background-image: url(../images/sprite.png);
	display: inline-block;
}

.sprite-amex {
	width: 105px;
	height: 37px;
	background-position: 0 0;
}

.sprite-atualizar {
	width: 40px;
	height: 39px;
	background-position: -105px -37px;
}

.sprite-aumentar-doacao {
	width: 47px;
	height: 42px;
	background-position: -145px -76px;
}

.sprite-boleto-b {
	width: 57px;
	height: 52px;
	background-position: -192px -118px;
}

.sprite-boleto {
	width: 57px;
	height: 52px;
	background-position: -249px -170px;
}

.sprite-bradesco {
	width: 96px;
	height: 77px;
	background-position: -306px -222px;
}

.sprite-calendar {
	width: 34px;
	height: 31px;
	background-position: -402px -299px;
}

.sprite-check {
	width: 44px;
	height: 32px;
	background-position: -436px -330px;
}

.sprite-cod-seguranca {
	width: 142px;
	height: 59px;
	background-position: -480px -362px;
}

.sprite-contato {
	width: 82px;
	height: 40px;
	background-position: -622px -421px;
}

.sprite-credito {
	width: 58px;
	height: 52px;
	background-position: -704px -461px;
}

.sprite-dados-pessoais {
	width: 16px;
	height: 42px;
	background-position: -762px -513px;
}

.sprite-debito {
	width: 58px;
	height: 52px;
	background-position: -778px -555px;
}

.sprite-diners {
	width: 91px;
	height: 74px;
	background-position: -836px -607px;
}

.sprite-email {
	width: 70px;
	height: 48px;
	background-position: -927px -681px;
}

.sprite-endereco {
	width: 83px;
	height: 55px;
	background-position: -997px -729px;
}

.sprite-facebook {
	width: 60px;
	height: 60px;
	background-position: -1080px -784px;
}

.sprite-fale-conosco {
	width: 27px;
	height: 20px;
	background-position: -1140px -844px;
}

.sprite-google {
	width: 60px;
	height: 60px;
	background-position: -1167px -864px;
}

.sprite-hsbc {
	width: 142px;
	height: 27px;
	background-position: -1227px -924px;
}

.sprite-itau {
	width: 77px;
	height: 77px;
	background-position: -1369px -951px;
}

.sprite-mastercard {
	width: 91px;
	height: 57px;
	background-position: -1446px -1028px;
}

.sprite-minha-conta {
	width: 32px;
	height: 47px;
	background-position: -1537px -1085px;
}

.sprite-minhas-doacoes {
	width: 26px;
	height: 41px;
	background-position: -1569px -1132px;
}

.sprite-nova-doacao {
	width: 40px;
	height: 40px;
	background-position: -1595px -1173px;
}

.sprite-paypal {
	width: 140px;
	height: 37px;
	background-position: -1635px -1213px;
}

.sprite-quero-ajudar {
	width: 48px;
	height: 48px;
	background-position: -1775px -1250px;
}

.sprite-santander {
	width: 130px;
	height: 28px;
	background-position: -1823px -1298px;
}

.sprite-site-seguro {
	width: 63px;
	height: 49px;
	background-position: -1953px -1326px;
}

.sprite-sou-doador {
	width: 48px;
	height: 40px;
	background-position: -2016px -1375px;
}

.sprite-twitter {
	width: 60px;
	height: 60px;
	background-position: -2064px -1415px;
}

.sprite-visa {
	width: 103px;
	height: 33px;
	background-position: -2124px -1475px;
}