<article id="list">
	<div class="row">
		<div class="small-12 column">
			<table width="100%" id="datatable" class="display responsive nowrap">
				<thead>
					<tr>
						<th></th>
						<th>Logo</th>
						<th>Nome</th>
						<th>Tipo</th>
						<th>Status</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th></th>
						<th>Logo</th>
						<th>Nome</th>
						<th>Tipo</th>
						<th>Status</th>
						<th>Ações</th>
					</tr>
				</tfoot>
				<tbody>
					<?php foreach ($formas as $item) : ?>
					<tr>
						<td></td>
						<td><?php echo $this->Html->image('/files/formas_pagamento/logo/' . $item["FormasPagamento"]["id"] . '/' . $item["FormasPagamento"]["logo"], ['alt' => $item["FormasPagamento"]["nome"]]) ?></td>
						<td><?php echo $item["FormasPagamento"]["nome"] ?></td>
						<td><?php echo $formasPagamentos[$item["FormasPagamento"]["tipo"]] ?></td>
						<td><?php echo ($item["FormasPagamento"]["status"]) ? 'Ativo' : 'Inativo' ?></td>
						<td>
						<?php echo $this->Html->link(
							$this->Html->tag('i', ' Editar', array('class' => 'fa fa-edit')),
							array('action' => 'alterar', $item["FormasPagamento"]["id"]),
							array(
								'class'  => 'button tiny info radius',
								'style'  => 'margin-bottom:0; margin-right:1rem;',
								'escape' => false
							)
						); ?>
					</td>
					</tr>
					<?php endforeach ?>
				</tbody>
			</table>
		</div>
	</div>
</article>

<?php
	echo $this->Html->scriptBlock(
		"$('table.responsive.nowrap').DataTable({
			responsive: {
				details: {
					type: 'inline',
					target: 'tr'
				}
			},
			columnDefs: [{
				className: 'control',
				orderable: false,
				targets: 0
			}],
			order: [4, 'asc'],
			language: {
				processing:     'processando dados...',
				search:         '',
				lengthMenu:     'Itens por p&aacute;gina: _MENU_',
				info:           'Exibindo itens de _START_ a _END_, num total de _TOTAL_ itens',
				infoEmpty:      'Não há itens para exibir',
				infoFiltered:   '(filtrado de _MAX_ itens no total)',
				infoPostFix:    '',
				loadingRecords: 'carregando dados...',
				zeroRecords:    'Não há itens para exibir',
				paginate: {
					first:      'Primeira',
					previous:   'Anterior',
					next:       'Seguinte',
					last:       '&uacute;ltima'
				},
				aria: {
					sortAscending:  ': habilite para classificar a coluna em ordem crescente',
					sortDescending: ': habilite para classificar a coluna em ordem decrescente'
				}
			}
		});

		$('.dataTables_filter input').attr('placeholder', 'Buscar');",
		array('inline' => false));
?>